@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";

body,
html,
div#react-container {
    height: 100%;
    width: 100%;
    background: #004C66;
    background: -moz-radial-gradient(center, ellipse cover, #337085 57%, #004C66 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #337085), color-stop(99%, #004C66));
    background: -webkit-radial-gradient(center, ellipse cover, #337085 57%, #004C66 99%);
    background: -o-radial-gradient(center, ellipse cover, #337085 57%, #004C66 99%);
    background: -ms-radial-gradient(center, ellipse cover, #337085 57%, #004C66 99%);
    background: radial-gradient(ellipse at center, #337085 57%, #004C66 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#337085', endColorstr='#004C66', GradientType=1);
    font-family: Open-Sans, sans-serif
}
.container {
    background: #fff;
    min-height: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
}
.btn {
    margin: 5px;
    min-width: 120px;
}
.glyphicon:before {
  margin-right: 5px;
}
label {
    margin-top: 5px;
}

.form-control {
    margin: 10px 0px;
}



