<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
    <title>React Blog</title>
</head>
<body>
  <div id="react-container">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <div id="root"></div>
  <%= javascript_include_tag "application" %>
</body>
</html>
